.mobileMenu {
    padding-left: 10px;
    display: block;
}

.mobileMenuButton {
    cursor: pointer;
    user-select: none;
}


.white svg{
    fill: #fff;
}

.black svg{
    fill: #000;
}

@media screen and (min-width:970px) {


    .mobileMenu {
        display: none;
    }

}